{% extends 'base.html' %}

{% block title %} Tutorial {% endblock %}

{% block content %}
<main>
    <main class="tutorial-main">
        <div class="title">
            <h1>TUTORIAL</h1>
        </div>
        <div class="indicaciones">
            <h3>INDICACIONES</h3>
        </div>
        <div class="tuto-content">
            <section>
                <div class="contenido">
                    <div class="numero">
                        <h2>1</h2>
                    </div>
                    <div class="texto_tuto">
                        <p >Dirigase al apartado "Medicion"</p>
                    </div>
                </div>
                <div class="contenido">
                    <div class="numero">
                        <h2>2</h2>
                    </div>
                    <div class="texto_tuto">
                        <p >Apoye su dedo en el dispositivo de medición</p>
                    </div>
                </div>
                <div class="contenido">
                    <div class="numero">
                        <h2>3</h2>
                    </div>
                    <div class="texto_tuto">
                        <p >Presione el boton "Iniciar medición" de la interfaz</p>
                    </div>
                </div>
                <div class="contenido">
                    <div class="numero">
                        <h2>4</h2>
                    </div>
                    <div class="texto_tuto">
                        <p >Mantenga su dedo en el sensor el tiempo por 10 segundos</p>
                    </div>
                </div>
                <div class="contenido">
                    <div class="numero">
                        <h2>5</h2>
                    </div>
                    <div class="texto_tuto">
                        <p >Su medición estará completa</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="imagen">
                    <img src="https://cdn.sparkfun.com/assets/learn_tutorials/5/7/7/MAX30105_Pulse_Oximetry.jpg">
                </div>
            </section>
        </div>
        <div class="indicaciones">
            <h3>RECOMENDACIONES</h3>
        </div>
        <div class="tuto-content">
            <section>
                <div class="contenido">
                    <div class="numero">
                        <h2>1</h2>
                    </div>
                    <div class="texto_tuto">
                        <p >Procure estar en estado de reposo durante la "Medicion"</p>
                    </div>
                </div>
                <div class="contenido">
                    <div class="numero">
                        <h2>2</h2>
                    </div>
                    <div class="texto_tuto">
                        <p >No ejerza presión al momento de colocar su dedo en el sensor</p>
                    </div>
                </div>
                <div class="contenido">
                    <div class="numero">
                        <h2>3</h2>
                    </div>
                    <div class="texto_tuto">
                        <p>Guarde la calma en caso de un resultado anormal en su ritmo cardiaco</p>
                    </div>
                </div>
                <div class="contenido">
                    <div class="numero">
                        <h2>4</h2>
                    </div>
                    <div class="texto_tuto">
                        <p>Acuda a un médico por cualquier prevención</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="imagen">
                    <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/321310_2200-1200x628.jpg">
                </div>
            </section>
        </div>
    </main>
</main>
{% endblock %}